In [1]:
#  first programme
print(10+10)

20

In [3]:
print((300+520)-30)

790

In [4]:
print(8000+90000)

98000

In [6]:
a=10

In [7]:
print(a)

10

In [8]:
name='john'

In [9]:
print(name)

john

In [11]:
a=31
name="anoop"
num=3.14
b=10j
print(type(a))
print(type(name))
print(type(num))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [14]:
python=True
java=False
print(type(python))
print(type(java))

<class 'bool'>
<class 'bool'>

In [15]:
a=10
b=10
c=10
print(a)
print(b)
print(c)

10
10
10

In [17]:
a,b,c="onion","tomato","cabbage"
print(a)
print(b)
print(c)

onion
tomato
cabbage

In [18]:
a=10           # addition
b=2
c=a+b
print(c)

12

In [19]:
# substraction
a=10
b=2
c=a-b
print(c)

8

In [21]:
# mul
a=20
b=10
c=a*b
print(c)

200

In [23]:
# div
a,b=100,20
c=a/b
print(c)

5.0

In [25]:
# exponentiation
a=20
b=a**3
print(b)

8000

In [27]:
a=3
b=a**5
print(b)

243

In [29]:
# modulus
a,b=13,5
c=a%b
print(c)

3

In [30]:
#floor divider
a=20
b=10
c=a//b
print(c)

2

In [33]:
a,b=14,3
c=a//b
print(c)

4

In [35]:
# python assignment operators
x=10
x+=4      #x+  x=x+4
print(x)

14

In [36]:
x=10
x-=5
print(x)

5

In [37]:
x=2
x*=2
print(x)

4

In [38]:
x=5
x**=5
print(x)

3125

In [39]:
x=10
x/=5
print(x)

2.0

In [40]:
x=13
x//=3
print(x)

4

In [41]:
x=20
x%=3
print(x)

2

In [42]:
#comparison operators
a=10
b=20
print(a==b)

False

In [43]:
a=10
b=10
print(a==b)

True

In [44]:
a=10
b=10
print(a!=b)

False

In [45]:
#<,>,<=,>=

In [48]:
# logical operators
#and -True- both stmts are true
# or-True - one of the stmts is true
# not - false -opposite result

a=10
print(a==10 and a<20)

True

In [49]:
a=10
print(a==10 or a<5)

True

In [57]:
a=10
print(not(a==10))

False

In [56]:
a=10
print(not(a>20))

True

In [58]:
text="my house is at koothattukulam"
print(text)

my house is at koothattukulam

In [59]:
text="""
your house is at ernakulam
your baby is very cutiee
i love roses
i just rocked"""
print(text)

your house is at ernakulam
your baby is very cutiee
i love roses
i just rocked

In [60]:
text="my language"
print(len(text))

11

In [69]:
text=" my language "
print(text[1:7])
print(len(text))
print(text.strip())

my lan
13
my language

In [70]:
text="calculator"
print(text.upper())
print(text.lower())

CALCULATOR
calculator

In [71]:
text="python"
print(text.replace("p","j"))

jython

In [72]:
name="madhav"
text="my name is {},iam a singer"
print(text.format(name))

my name is madhav,iam a singer

In [78]:
# python collection datatypes  
     #list
list=["onion","mango","cherry"]
print(list[0])
print(list[1])
list1=[30,20,40]
print(list1[0]+list1[2])

onion
mango
70

In [80]:
list=[50,80,40]
sum=list[0]+list[2]
print(sum)

90

In [82]:
list=["onion","mango","jackfruit"]
list[0]="cabbage"
list

['cabbage', 'mango', 'jackfruit']

In [84]:
for x in list:
    print(x)

cabbage
mango
jackfruit

In [87]:
list.append("cherry")
list

['cabbage', 'mango', 'jackfruit', 'cherry']

In [90]:
list.insert(0,"cherry")
list

['cherry', 'cabbage', 'mango', 'jackfruit', 'cherry']

In [91]:
list.remove("cherry")
list

['cabbage', 'mango', 'jackfruit', 'cherry']

In [92]:
list.clear()
list   #all values cleared

[]

In [4]:
tuple=("mango","pinapple","cabbage")
print(tuple[0])

mango

In [97]:
print(len(tuple))

3

In [6]:
del tuple
print(tuple)

<class 'tuple'>

In [100]:
tuple1=("mango","onion","cashew")
tuple2=(20,30,40)
tuple3=tuple1+tuple2
print(tuple3)

('mango', 'onion', 'cashew', 20, 30, 40)

In [102]:
set={"mango","onion","cashew"}
print("cabbage" in set)

False

In [103]:
for x in set:
    print(x)

cashew
onion
mango

In [104]:
set.add("orange")
set

{'cashew', 'mango', 'onion', 'orange'}

In [105]:
set.update(["cherry","banana"])
set

{'banana', 'cashew', 'cherry', 'mango', 'onion', 'orange'}

In [108]:
set.remove("mango")
set

{'banana', 'cashew', 'onion', 'orange'}