# Variable Assignment

In [1]:
a = 3

In [3]:
print(a)

3

a

# How Variables work in python

In [5]:
a = 7
b = a
a = 3

In [6]:
print(a)

3

In [9]:
print(b)

7

# Variable naming rules

In [10]:
_a = 2
_a

2

In [11]:
@a = 1
@a

SyntaxError: invalid syntax (3179118889.py, line 1)

In [12]:
2a = 1
2a

SyntaxError: invalid syntax (3175670342.py, line 1)

# Data types in python

In [15]:
a = 5

In [16]:
type(a)

int

In [17]:
a = 'alok'

In [18]:
type(a)

str

In [19]:
a = 12.5

In [20]:
type(a)

float

# Conditional statements

# if-else statements single conditions

syntax

if(condition):
    statement1
else:
    statement2
    
    
 eg:
 
 if(time==late):
     food=order
 else:
     food=cook

# if-elif-else statements multiple conditions

syntax


if(condition):
    statement1
elif(condition2):
    statement2
else:
    statement3
    
eg:

if(x>0):
    print('positive')
elif(x=0):
    print('zero')
else:
    print('negative')

In [21]:
x =6
if(x%2 ==0):
    print('even')
else:
    print('odd')

even

In [ ]:
y =90
if(y>90):
    print('grade A')
elif(y>60andy<89)

In [2]:
dict={'e1':'anu','e2':'alok'}
print(dict['e2'])

alok

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.4.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10"
  Using cached numpy-1.22.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/dell/notebook/jupyterenv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/dell/notebook/jupyterenv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.1 pandas-1.4.0 pytz-2021.3

In [6]:
import pandas as pd

In [7]:
df1=pd.read_csv("salaries.csv")

In [8]:
df1.head(3)

  company               job     degree  salary_more_then_100k
0  google   sales executive  bachelors                      0
1  google   sales executive    masters                      0
2  google  business manager  bachelors                      1

In [9]:
df1.shape

(16, 4)

In [10]:
df1.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [11]:
df1.tail()

     company                  job     degree  salary_more_then_100k
11  facebook      sales executive    masters                      1
12  facebook     business manager  bachelors                      1
13  facebook     business manager    masters                      1
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [12]:
df1.tail(2)

     company                  job     degree  salary_more_then_100k
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [14]:
df1.tail(2)

     company                  job     degree  salary_more_then_100k
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [16]:
df1.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [17]:
df1.columns()

TypeError: 'Index' object is not callable

In [18]:
df1['company']

0         google
1         google
2         google
3         google
4         google
5         google
6     abc pharma
7     abc pharma
8     abc pharma
9     abc pharma
10      facebook
11      facebook
12      facebook
13      facebook
14      facebook
15      facebook
Name: company, dtype: object

In [19]:
df1[['comapny','job']]

KeyError: "['comapny'] not in index"

In [20]:
df1[['company','job']]

       company                  job
0       google      sales executive
1       google      sales executive
2       google     business manager
3       google     business manager
4       google  computer programmer
5       google  computer programmer
6   abc pharma      sales executive
7   abc pharma  computer programmer
8   abc pharma     business manager
9   abc pharma     business manager
10    facebook      sales executive
11    facebook      sales executive
12    facebook     business manager
13    facebook     business manager
14    facebook  computer programmer
15    facebook  computer programmer

In [21]:
df1.iloc[:6]

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0
5  google  computer programmer    masters                      1

In [22]:
df1.iloc[:,:3]

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [23]:
df1

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [24]:
df1[df1['salary_more_then_100k']==0]

      company                  job     degree  salary_more_then_100k
0      google      sales executive  bachelors                      0
1      google      sales executive    masters                      0
4      google  computer programmer  bachelors                      0
6  abc pharma      sales executive    masters                      0
7  abc pharma  computer programmer  bachelors                      0
8  abc pharma     business manager  bachelors                      0

In [25]:
df1=pd.DataFrame({"A":["AB","BC","CB"],"B":["CS","VM","AM"],"C":["DN","AS","VC"]})
df2=pd.DataFrame({"D":["CS","BN","HN"],"V":["HG","N","DF"],"F":["WE","RT","TY"]})

In [26]:
result=pd.concat([df1,df2])
result

     A    B    C    D    V    F
0   AB   CS   DN  NaN  NaN  NaN
1   BC   VM   AS  NaN  NaN  NaN
2   CB   AM   VC  NaN  NaN  NaN
0  NaN  NaN  NaN   CS   HG   WE
1  NaN  NaN  NaN   BN    N   RT
2  NaN  NaN  NaN   HN   DF   TY

In [27]:
df=pd.read_csv('bigmart_data.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [29]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [31]:
sorted_data=df.sort_values(by="Outlet_Establishment_Year")
sorted_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4338,FDH21,NaN,Low Fat,0.031074,Seafood,157.5604,OUT027,1985,Medium,Tier 3,Supermarket Type3,5704.5744
3689,FDD53,NaN,Low Fat,0.044008,Frozen Foods,43.7454,OUT027,1985,Medium,Tier 3,Supermarket Type3,671.1264
1139,FDH26,NaN,Regular,0.034532,Canned,142.2496,OUT027,1985,Medium,Tier 3,Supermarket Type3,2399.5432
1138,FDM21,NaN,Low Fat,0.064052,Snack Foods,256.1646,OUT027,1985,Medium,Tier 3,Supermarket Type3,7472.2734
3691,FDY36,NaN,Low Fat,0.016477,Baking Goods,74.3380,OUT019,1985,Small,Tier 1,Grocery Store,146.4760
...,...,...,...,...,...,...,...,...,...,...,...,...
3600,FDX31,20.35,Regular,0.014886,Fruits and Vegetables,234.4958,OUT018,2009,Medium,Tier 3,Supermarket Type2,3271.7412
5053,NCO53,16.20,Low Fat,0.175898,Health and Hygiene,183.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,2940.1728
7710,NCR18,15.85,Low Fat,0.020571,Household,41.6112,OUT018,2009,Medium,Tier 3,Supermarket Type2,255.6672
5750,FDV26,20.25,Regular,0.076471,Dairy,196.1794,OUT018,2009,Medium,Tier 3,Supermarket Type2,2731.1116
7378,FDJ26,15.30,Regular,0.085110,Canned,215.7218,OUT018,2009,Medium,Tier 3,Supermarket Type2,1923.4962

In [32]:
df.sort_values(by="Outlet_Establishment_Year",ascending=False,inplace=True)
df[:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5371,FDC11,20.500,Low Fat,0.142370,Starchy Foods,90.6172,OUT018,2009,Medium,Tier 3,Supermarket Type2,1427.4752
6389,FDR07,21.350,Low Fat,0.078061,Fruits and Vegetables,96.0094,OUT018,2009,Medium,Tier 3,Supermarket Type2,380.8376
2064,FDG50,7.405,Low Fat,0.015334,Canned,92.7146,OUT018,2009,Medium,Tier 3,Supermarket Type2,1185.7898
3839,DRI37,15.850,Low Fat,0.108036,Soft Drinks,57.3904,OUT018,2009,Medium,Tier 3,Supermarket Type2,703.0848
6392,FDO52,11.600,Regular,0.077479,Frozen Foods,170.3106,OUT018,2009,Medium,Tier 3,Supermarket Type2,4277.7650

In [33]:
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [34]:
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [35]:
df.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

ValueError: For argument "ascending" expected type bool, received type str.

In [37]:
df.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")
df[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [38]:
df1=pd.read_csv("bigmart_data.csv")
#drop the null values
df1=df1.dropna(how="any")
#sort by multiple column
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [39]:
import numpy as np

In [40]:
df1=pd.read_csv("bigmart_data.csv")
#drop the null values
df1=df1.dropna(how="any")
#sort by multiple column
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="false")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [41]:
df1=pd.read_csv("bigmart_data.csv")
#drop the null values
df1=df1.dropna(how="any")
#sort by multiple column
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="true")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [42]:
df1=pd.read_csv("bigmart_data.csv")
#drop the null values
df1=df1.dropna(how="any")
#sort by multiple column
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending="False")[:5]

ValueError: For argument "ascending" expected type bool, received type str.

In [43]:
df1=pd.read_csv("bigmart_data.csv")
#drop the null values
df1=df1.dropna(how="any")
#sort by multiple column
df1.sort_values(by=["Outlet_Establishment_Year","Item_Outlet_Sales"],ascending=False)[:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
43,FDC02,21.35,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
2803,FDU51,20.20,Regular,0.096907,Meat,175.5028,OUT018,2009,Medium,Tier 3,Supermarket Type2,6729.9064
641,FDY51,12.50,Low Fat,0.081465,Meat,220.7798,OUT018,2009,Medium,Tier 3,Supermarket Type2,6611.3940
2282,NCX30,16.70,Low Fat,0.026729,Household,248.4776,OUT018,2009,Medium,Tier 3,Supermarket Type2,6439.6176
2887,FDR25,17.00,Regular,0.140090,Canned,265.1884,OUT018,2009,Medium,Tier 3,Supermarket Type2,6359.7216

In [44]:
np.linspace(0,10,5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [45]:
np.linspace(6,20,10).reshape(6,3)

ValueError: cannot reshape array of size 10 into shape (6,3)

In [46]:
np.linspace(6,20,10).reshape(5,2)

array([[ 6.        ,  7.55555556],
       [ 9.11111111, 10.66666667],
       [12.22222222, 13.77777778],
       [15.33333333, 16.88888889],
       [18.44444444, 20.        ]])

In [47]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |▏                               | 81 kB 369 kB/s eta 0:00:32ERROR: Exception:
Traceback (most recent call last):
  File "/usr/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl/urllib3/response.py", line 425, in _error_catcher
    yield
  File "/usr/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl/urllib3/response.py", line 507, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "/usr/share/python-wheels/CacheControl-0.12.6-py2.py3-none-any.whl/cachecontrol/filewrapper.py", line 62, in read
    data = self.__fp.read(amt)
  File "/usr/lib/python3.8/http/client.py", line 459, in read
    n = self.readinto(b)
  File "/usr/lib/python3.8/http/client.py", line 503, in readinto
    n = self.fp.readinto(b)
  File "/usr/lib/python3.8/socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "/usr/lib/python3.8/ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/lib/python3.8/ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/cli/base_command.py", line 186, in _main
    status = self.run(options, args)
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/commands/install.py", line 357, in run
    resolver.resolve(requirement_set)
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/legacy_resolve.py", line 177, in resolve
    discovered_reqs.extend(self._resolve_one(requirement_set, req))
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/legacy_resolve.py", line 333, in _resolve_one
    abstract_dist = self._get_abstract_dist_for(req_to_install)
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/legacy_resolve.py", line 282, in _get_abstract_dist_for
    abstract_dist = self.preparer.prepare_linked_requirement(req)
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/operations/prepare.py", line 480, in prepare_linked_requirement
    local_path = unpack_url(
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/operations/prepare.py", line 282, in unpack_url
    return unpack_http_url(
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/operations/prepare.py", line 158, in unpack_http_url
    from_path, content_type = _download_http_url(
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/operations/prepare.py", line 303, in _download_http_url
    for chunk in download.chunks:
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/utils/ui.py", line 160, in iter
    for x in it:
  File "/home/dell/notebook/jupyterenv/lib/python3.8/site-packages/pip/_internal/network/utils.py", line 15, in response_chunks
    for chunk in response.raw.stream(
  File "/usr/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl/urllib3/response.py", line 564, in stream
    data = self.read(amt=amt, decode_content=decode_content)
  File "/usr/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl/urllib3/response.py", line 529, in read
    raise IncompleteRead(self._fp_bytes_read, self.length_remaining)
  File "/usr/lib/python3.8/contextlib.py", line 131, in __exit__
    self.gen.throw(type, value, traceback)
  File "/usr/share/python-wheels/urllib3-1.25.8-py2.py3-none-any.whl/urllib3/response.py", line 430, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.

In [48]:
!pip install mysql-connector

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mysql-connector/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mysql-connector/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mysql-connector/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mysql-connector/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/mysql-connector/
ERROR: Could not find a version that satisfies the requirement mysql-connector (from versions: none)
ERROR: No matching distribution found for mysql-connector