In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("dirtydata.csv")
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [3]:

data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [4]:
data.duplicated().sum()

1

In [5]:
data[data.duplicated()==True]

    Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7

In [6]:
data.drop_duplicates(inplace=True)
data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [7]:
data.duplicated().sum()

0

In [8]:
data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [9]:
data.Calories.mean()

306.5413793103448

In [10]:
data[data.Calories.isnull()==True]
data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [11]:
md=data.Calories.median()

In [12]:
data.Calories.fillna(md)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18    300.0
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28    300.0
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [13]:
data.Date

0     '2020/12/01'
1     '2020/12/02'
2     '2020/12/03'
3     '2020/12/04'
4     '2020/12/05'
5     '2020/12/06'
6     '2020/12/07'
7     '2020/12/08'
8     '2020/12/09'
9     '2020/12/10'
10    '2020/12/11'
11    '2020/12/12'
13    '2020/12/13'
14    '2020/12/14'
15    '2020/12/15'
16    '2020/12/16'
17    '2020/12/17'
18    '2020/12/18'
19    '2020/12/19'
20    '2020/12/20'
21    '2020/12/21'
22             NaN
23    '2020/12/23'
24    '2020/12/24'
25    '2020/12/25'
26        20201226
27    '2020/12/27'
28    '2020/12/28'
29    '2020/12/29'
30    '2020/12/30'
31    '2020/12/31'
Name: Date, dtype: object

In [14]:
pd.date_range("2020-12-01","2020-12-31")
data.Date=pd.date_range("2020-12-01","2020-12-31")
data.Date

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22   2020-12-22
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [15]:
data.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [16]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\91956\anaconda3\lib\site-packages (2.2.9)

In [17]:
import mysql.connector

In [18]:
conn=mysql.connector.connect(host="localhost",port="3306",user="root",password="@stella",database="wozti")

In [19]:
data=pd.read_sql_query('select * from person',conn)
data

   pid    pname  age
0  101  jameema   23
1  201    leela   30
2  102      anu   28
3  104   lidiya   27
4  103    anoop   22

In [20]:
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pymysql in c:\users\91956\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: sqlalchemy in c:\users\91956\anaconda3\lib\site-packages (1.4.27)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\91956\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)

In [21]:
import pymysql

In [22]:
import sqlalchemy

In [23]:
con=sqlalchemy.create_engine("mysql+pymysql://root:@stella@localhost:3306/wozti")

In [24]:
df=pd.read_sql_table('person',con)
df

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'stella@localhost' ([Errno 11003] getaddrinfo failed)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
dff=pd.read_sql_query('select *from person',con)
dff

In [ ]:
#concatenation
import numpy as np
import pandas as pd

In [ ]:
tcs={"id":[101,102,103],"name":['anu','jobin','abu'],"age":[23,22,27]}
infosys={"id":[103,102,104],"name":['sherin','albin','issac'],"age":[31,25,23]}

In [ ]:
d1=pd.DataFrame(tcs)
d2=pd.DataFrame(infosys)

In [ ]:
d1

In [ ]:
d2

In [ ]:
pd.concat((d1,d2))

In [ ]:
pd.concat([d1,d2],ignore_index=True,join="outer")

In [ ]:
pd.concat((d1,d2),axis=1)

In [ ]:
pd.merge(d1,d2,on="id")

In [ ]:
pd.merge(d1,d2,on="id",how="left")

In [ ]:
pd.merge(d1,d2,on="id",how="right")

In [ ]:
pd.merge(d1,d2,on="id",how="outer")

In [ ]:
d1

In [ ]:
d2

In [ ]:
pd.merge(d1,d2,on="id",how="inner")

In [ ]:
#callmap()

In [ ]:
#lambda fn

In [ ]:
def sqr(a):
    return a*a
sqr(10)

In [ ]:
#usimng lambda(anonymous fn)

In [ ]:
x=lambda a:a*a
x(10)

In [ ]:
y=lambda a,b,c:a+b+c
y(1,2,3)

In [ ]:
#filter()

In [ ]:
def checks(x):                    
    return x%2==0                           #x=1,#1%2==0
list(filter(checks,[1,2,3,4,5,6,7]))

In [ ]:
def checks(x):
    return x%2!=0
list(filter(checks,[1,2,3,4,5,6,7]))

In [ ]:
list(filter(lambda a:a%2==0,range(1,11)))

In [ ]:
list(filter(lambda a:a%2!=0,range(1,11)))

In [ ]:
#map()

In [ ]:
list(range(1,11))

In [ ]:
list(map(lambda a:a+10,range(1,11)))

In [ ]:
list(map(lambda a:a*a,range(1,11)))

In [ ]:
list(map(lambda a:a%2==0,range(1,11)))

In [ ]:
#applymap()

In [ ]:
data=pd.read_csv("carprices.csv")
data

In [ ]:
data[["Sell Price($)"]].head()

In [ ]:
data.head()

In [ ]:
data.drop('Car Model',axis=1).applymap(lambda x:x+100)

In [ ]:
#pivot()

In [ ]:
d1

In [ ]:
d1.pivot(index="id",columns="name")

In [ ]:
#assignments

In [ ]:

Dict1 = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}

In [ ]:
Dict1

In [ ]:
dd=pd.DataFrame(Dict1,columns=["name","score","attempts"])
dd

In [ ]:
#Write a Pandas program to count the number of rows and columns of a
#DataFrame.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
Dict1 = {'name': ['Anastasia', 'Dima', 'Katherine', 'James',
'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
'yes']}

In [ ]:
Dict1

In [ ]:
dd=pd.DataFrame(Dict1,columns=["name","score","attempts"])

In [ ]:
dd

In [ ]:
dd.shape

In [ ]:
total_rows=len(dd.axes[0])
total_columns=len(dd.axes[1])
print(total_rows)
print(total_columns)

In [ ]:
#Write a Pandas program to select the rows where the number of 
#attempts in the examination is greater than 2

In [ ]:
dd[dd['attempts']>2]