In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
x=np.array([1,2,3])
print(x)

[1 2 3]

In [2]:
type(x)

numpy.ndarray

In [3]:
y=np.array([3,5,1])
z=np.dot(x,y)
print(z)

16

In [4]:
b=np.array([[2,3],[1,2]])

In [5]:
print(b)

[[2 3]
 [1 2]]

In [6]:
b.shape

(2, 2)

In [7]:
b.reshape

In [8]:
dict={"empname":["anu","jemi","sharon"],"empplace":["kollam","tvm","ekm"],"empsal":["20k","25k","30k"]}
empdet=pd.DataFrame(dict)
print(empdet)

  empname empplace empsal
0     anu   kollam    20k
1    jemi      tvm    25k
2  sharon      ekm    30k

In [9]:
empdet.drop("empname",axis=1)

  empplace empsal
0   kollam    20k
1      tvm    25k
2      ekm    30k

In [10]:
a=np.array([[1,3,5,6,9],[6,10,6,10,2],[4,5,6,7,8]])
a

array([[ 1,  3,  5,  6,  9],
       [ 6, 10,  6, 10,  2],
       [ 4,  5,  6,  7,  8]])

In [11]:
c=np.array([5,100])

In [12]:
print(c)

[  5 100]

In [13]:
c=np.arange(5,100,5)

In [14]:
print(c)

[ 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]

In [15]:
d=np.linspace(5,20,3)

In [16]:
print(d)

[ 5.  12.5 20. ]

In [17]:
a=np.zeros((4,4))

In [18]:
print(a)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [19]:
b=np.ones_like(a)
print(b)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [20]:
n=np.array([[1,2,3,5],[1,5,6,7],[7,8,9,1],[3,4,5,2]])

In [21]:
print(n)

[[1 2 3 5]
 [1 5 6 7]
 [7 8 9 1]
 [3 4 5 2]]

In [22]:
import numpy as np

In [23]:
n[2:,2:]

array([[9, 1],
       [5, 2]])

In [24]:
n[1:2,0:2]

array([[1, 5]])

In [25]:
n=np.array([[1,2,3],[4,5,6],[6,7,8],[1,3,4]])

In [26]:
n

array([[1, 2, 3],
       [4, 5, 6],
       [6, 7, 8],
       [1, 3, 4]])

In [27]:
n.ndim

2

In [28]:
n[2:5,1:3]

array([[7, 8],
       [3, 4]])

In [29]:
n[2:3,0:2]

array([[6, 7]])

In [30]:
np.ones_like(n,dtype=float)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])